<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <h1>Welcome Rune Scribe, <span style="font-size: 50%">Sending Stone ID: <%= @user.email %></span></h1>
      <p>
        You have successfully signed to rune scribe service and a Familiar will be assigned to you shortly.<br>
        Your character is: <%= @user.character %>.<br>
      </p>
      <p>
        To login to the site, just follow this link: <%= @url %>.
      </p>
      <p>Thanks for joining and have a great day!</p>
    </body>
  </html>