<div class='detail-modal'>
    <div class='modal-content'> 
        <div class='modal-topbar'>
            <div class='tb-left'><h3 class='s-size'>2 Runes</h3></div>
            <h1 class='s-title'>Loading Structure</h1>
            <div class='tb-right'><h3 class='s-close'>X</h3></div>
        </div>
        <hr>
        <div class='s-description'>Please wait while the structure loads</div>
        <p class='s-rules'><strong>Targets:</strong> <span class='rules-targets'>...</span>, <strong>Trace:</strong> <span class='rules-trace'>...</span>, <strong>Draw:</strong> <span class='rules-draw'>...</span></p>
        <h2 class='s-strained'>Strained Structure</h2>
        <h2 class='s-locked'>Unlock</h2>
    </div>
</div>