<%= javascript_pack_tag 'admin_structures' %>
<div class='structure-title'>
    <input type='text' id='structure-search' placeholder='Search Structures'>
    <h2>Unlocked Structures</h2>
    <h2 class='new-structure'>NEW</h1>
</div>
<div class='structure-list'>
    <% @structures[:unlocked].each do |structure| %>
        <%= render 'structure', :structure => structure %>
    <% end %>
</div>

<div class='structure-title'>
    <h2></h2>
    <h2>Locked Structures</h2>
    <h2></h2>
</div>
<div class='structure-list'>
    <% @structures[:locked].each do |structure| %>
        <%= render 'structure', :structure => structure %>
    <% end %>
</div>

<%= render 'details' %>
