// Place all the styles related to the familiar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@300&display=swap');

.themes {
    &.mind {
        border-color: #334;
        background-color: #112;
        color: #acf;
        &:hover {
            background-color: #334;
            border-color: #112;
        }
    }
    &.power {
        border-color: #530;
        background-color: #310;
        color: #295;
        &:hover {
            background-color: #530;
            border-color: #310;
        }
    }
    &.death {
        border-color: #324;
        background-color: #213;
        color: #bad;
        &:hover {
            background-color: #324;
            border-color: #213;
        }
    }
    &.life {
        border-color: #343;
        background-color: #121;
        color: #cfc;
        &:hover {
            background-color: #343;
            border-color: #121;
        }
    }
}
