// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    a:link, a:visited {
        color: #acf;
        text-decoration: none;
      }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 600px;
  margin-top: calc(50vh - 150px);
  margin-left: calc(50vw - 300px);
  background-color: darkslategray;
  border-radius: 20px;
  .welcome-heading {
    margin-bottom: 10%;
  }
  .form-line {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0.5em 1em;
  }
  input {
    border-radius: 2px;
  }
  .submit-button {
    font-size: 150%;
    border-style: outset;
    border-color: darkolivegreen;
    background-color: #cca;
    color: darkslategray;
    padding: 2px 10px;
  }
  .welcome-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
  }
}
.centered {
  text-align: center;
}

.notice, .alert {
  text-align: center;
  font-size: 2em;
  background-color: chocolate;
  font-weight: bold;
}
